<ion-content [fullscreen]="true" class="onboarding-content">
  <div class="onboarding-container">
    <!-- Skip Button -->
    <div class="skip-section">
      <ion-button fill="clear" (click)="skip()"> Pular </ion-button>
    </div>

    <!-- Slides -->
    <swiper-container
      #slides
      pagination="true"
      navigation="false"
      (slidechange)="slideChanged()"
    >
      <swiper-slide *ngFor="let slide of onboardingSlides; let i = index">
        <div class="slide-wrapper">
          <div class="slide-content">
            <div class="icon-container" [style.background]="slide.gradient">
              <div class="icon-wrapper">
                <ion-icon [name]="slide.icon" *ngIf="i === 0"></ion-icon>
                <div class="four-icons" *ngIf="i === 1">
                  <div class="icon-grid">
                    <div class="mini-icon">
                      <ion-icon name="book"></ion-icon>
                    </div>
                    <div class="mini-icon">
                      <ion-icon name="calendar"></ion-icon>
                    </div>
                    <div class="mini-icon">
                      <ion-icon name="time"></ion-icon>
                    </div>
                    <div class="mini-icon">
                      <ion-icon name="notifications"></ion-icon>
                    </div>
                  </div>
                </div>
                <ion-icon name="time" *ngIf="i === 2"></ion-icon>
              </div>
            </div>

            <div class="text-content">
              <h1 [innerHTML]="slide.title"></h1>
              <p>{{ slide.description }}</p>
            </div>
          </div>

          <!-- Bottom Navigation inside each slide -->
          <div class="bottom-navigation">
            <ion-button
              expand="block"
              size="large"
              class="continue-btn"
              (click)="nextSlide()"
            >
              Continuar
            </ion-button>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
